.DS_Store
.tmp
.classpath
.project
.settings/
.vscode/
.serverless/
node_modules/
astra/astra_credentials.txt
astra/astra_token.txt
aws-monitoring/serverless_credentials.csv
secure-connect-starship-enterprise.zip