.DS_Store
.tmp
.classpath
.project
.settings/
.vscode/
.serverless/
node_modules/
astra_credentials.txt
astra_token.txt
serverless_credentials.csv
secure-connect-starship-enterprise.zip

.terraform*
terraform.tfstate*
secure_connect_bundle.zip